@use "../../Foundation/vars" as va;

.c-circle{
    width: clamp(8px,calc(8/1440*100vw),10px);
    height: clamp(8px,calc(8/1440*100vw),10px);
    background: va.$sub-color-w;
    display: inline-block;
    border-radius: 50%;
}