@use "../../Foundation/vars" as va;

.p-footer__heading2--English{
    font-family: va.$font-base-English;
    font-size: calc(56/1440*100vw);
    color: va.$sub-color-y;
    margin-bottom:calc(16/1440*100vw);
}