@use '../../../scss/Foundation/mixin';
@use '../../Foundation/vars' as va;

.p-header__nav__main-menu__item{
    font-family: 'Roboto', sans-serif;
    background: va.$sub-color-y;
    color: va.$main-color;
    font-size: calc(40/1440*100vw);
    display:flex;
    align-items: center;
    padding:calc(10/1440*100vw) calc(16/1440*100vw);
}