@use "../../Foundation/vars" as va;

.p-header__nav__main-menu__item--other{
    font-family: 'Roboto', sans-serif;
    background: va.$main-color;
    color: va.$sub-color-y;
    font-size: calc(40/1440*100vw);
    text-align: center;
    padding:calc(10/1440*100vw) calc(16/1440*100vw);
}