@use "../../Foundation/vars" as va;

.p-header--nav--main-menu__contact{
    font-family: 'Roboto', sans-serif;
    background: va.$main-color;
    color: va.$sub-color-y;
    font-size: 4rem;
    text-align: center;
    padding:16.5px 16px;
    &:hover{
        background:va.$sub-color-y;
        color: va.$main-color;
    }
}