@use "../../Foundation/vars" as va;

.p-link__work{
    font-family: va.$font-base-Japanese;
    font-size:max(calc(16/1440*100vw),16px);
    color: va.$main-color;
    text-decoration: underline;
    display: block;
    margin-bottom:calc(184/1440*100vw);
}