@use '../../Foundation/vars' as va;

.p-profile__link{
    font-family: va.$font-base-Japanese;
    color: va.$main-color;
    font-size:16px;
    font-weight: bold;
    border:1px solid;
    border-radius: 30px;
    display: block;
    height: 48px;
    padding:12px 0;
    text-align: center;
    //矢印配置のため
    position:relative;

    &::after{
    //display: block;
    content: '';
    border-top: solid 1px #08144B;
    border-right: solid 1px #08144B;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    position:absolute;
    right:27.27px;
    bottom:17.27px;
    }
    
    &:hover{
        background-color: va.$main-color;
        color:va.$sub-color-y;
        &::after{
            border-top: solid 1px #FAFF0D;
            border-right: solid 1px #FAFF0D;
        }
    }
    /*
    &:hover.p-profile__link__arrow{
        //リンクホバー時の矢印の挙動  
    }*/
}