@use '../../Foundation/vars' as va;

.p-profile__about-me__heading3{
    background:linear-gradient(transparent 60%, #FAFF0D 60%);
    font-family: va.$font-base-Japanese;
    font-weight: bold;
    font-size:calc(24/1440*100vw);
}