/*

.p-profile__link__arrow{
    display: block;
    border-top: solid 1px #08144B;
    border-right: solid 1px #08144B;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    position:absolute;
    right:27.27px;
    bottom:17.27px;
}

*/