@use "../../Foundation/vars" as va;

.p-profile__heading__comment{
    font-family: va.$font-base-Japanese;
    font-size:calc(18/1440*100vw);
    background: va.$sub-color-y;
    padding:max(calc(8/1440*100vw),8px) max(calc(16/1440*100vw),16px);
    position: relative;
    z-index: 1;
    &::before{
        content:'';
        position: absolute;
        width: calc(292/1440*100vw);
        height: calc(35/1440*100vw);
        left: calc(50/1440*100vw);
        top: calc(50/1440*100vw);
        background: #d9d9d9;
    }
}