@use '../../Foundation/vars' as va;

.p-profile__item--career{
    font-family: va.$font-base-Japanese;
    font-size:calc(24/1440*100vw);
    font-weight:Semibold;
    margin-bottom:calc(4/1440*100vw);
}