@use '../../Foundation/vars' as va;

.p-skill__text__item{
    font-family: va.$font-base-Japanese;
    font-size:max(calc(16/1440*100vw),14px);
    color:va.$sub-color-w;
    &:not(:last-child){
        margin-bottom: calc(16/1440*100vw);
    }
}