@use '../../Foundation/vars' as va;

.p-skill__heading2--English{
    color: va.$main-color;
    font-family: va.$font-base-English;
    font-size:5.6rem;
    margin-bottom:8px;
    position:relative;
    padding-left:16px;
        &::before{
            content: '';
            width: 8px;
            height: 50px;
            background-color: va.$sub-color-b;
            position: absolute;
            left:0px;
            top: 12px;        
        }
}