@use '../../Foundation/vars' as va;

.p-works__heading2--Japanese{
    font-family: va.$font-base-Japanese;
    color: va.$main-color;
    font-size:calc(16/1440*100vw);
    margin-left:calc(8/1440*100vw);
}